<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <div class="page-header">
            	<h2><span style="color:blue">Social Touch!</span></h2>
                <h1><small>What are you upto!</small></h1>
            </div>
            <ol class="breadcrumb">
                <li>Home</li>
                <li class="active">Post Status</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-12">

            <div class="panel-group" id="accordion">
            
                <div class="panel panel-default">
                    <div class="panel-heading">
                    		<div>
                        	<textarea rows="5" cols="30" maxlength="133" ng-model="status"></textarea>
                        	</div>
                        	<div>
                            <button class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" ng-click="createMsg()">
                                POST
                            </button>
                            &nbsp;
                            <button class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" ng-click="backToMessages()">
                                DASHBOARD
                            </button>
                            &nbsp;
                            <button class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" ng-click="goToTimeLine()">
                                TIMELINE
                            </button>
                            
                            </div>
                            
                    </div>
 
                </div>
 
            </div>

        </div>

    </div>

</div>
<!-- /.container -->